.footer {
  display: flex;
  align-items: center;
  background-color: #3a84e9;
  justify-content: space-between;
  padding: 1.5rem;
}

.logoContainer {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.footer img {
  height: auto;
  width: 2rem;
}

.footer span,
.footer p {
  color: #1d1d1d;
  font-weight: 500;
}

@media (max-width: 640px) {
  .footer {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }

  .logoContainer {
    flex-direction: column;
    gap: 0.25rem;
  }

  .footer img {
    width: 1.5rem;
  }
}
